
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*
library/TelemetryHelper/tester/*
TelemetryHelper/bin

# Ignore staging info from Visual Studio
library/TelemetryHelper/.vs/*
library/TelemetryHelper/packages/*
library/TelemetryHelper/TelemetryHelper/bin/*
library/TelemetryHelper/TelemetryHelper/obj/*

# Ignore compiled project binaries
TelemetryHelper/bin/full/TelemetryHelper*
TelemetryHelper/bin/full/*DiagnosticSource*
TelemetryHelper/bin/full/*ApplicationInsights*
TelemetryHelper/bin/core/TelemetryHelper*
TelemetryHelper/bin/core/*DiagnosticSource*
TelemetryHelper/bin/core/*ApplicationInsights*

# ignore PowerShell Studio MetaData
TelemetryHelper/TelemetryHelper.psproj
TelemetryHelper/TelemetryHelper.psproj.bak
TelemetryHelper/TelemetryHelper.psprojs
TelemetryHelper/TelemetryHelper.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*